:root {
    --mainColor: black;
    --mainColorLight: #DCB44D;
    --secondaryColor: #5CE1E6;
    --textColor: #ff66c4;
}

.card {
    background-color: var(--mainColor);
    color: var(--mainColorLight);
    width: 100%;
    margin: 0 3px;
    max-width: 130px;
    padding: 20px;
    border: 2px solid var(--mainColorLight);
    border-radius: 0 50px 0 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: px;
    object-fit: 95cover;
    border-radius: 50px;
    margin: 5px 0;
}

.card span {
    color: #5CE1E6
}

.BuyBtn {
    padding: 1px 5px;
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    border-radius: 0 50px 0 50px;
    width: 50%;
}

.BuyBtn:hover {
    color: white;
    background-color: lightgreen;
    font-weight: bold;
}

.DelBtn {
    padding: 1px 5px;
    background-color: var(--mainColor);
    color: var(--textColor);
    border-radius: 0 50px 0 50px;
    width: 50%;
}

.DelBtn:hover {
    color: white;
    background-color: tomato;
    font-weight: bold;
}