:root {
    --mainColor: black;
    --mainColorLight: #DCB44D;
    --secondaryColor: #5CE1E6;
    --textColor: #ff66c4;
}

.card {
    background-color: var(--mainColor);
    color: var(--mainColorLight);
    width: 90%;
    min-width: 200px;
    padding: 20px;
    border: 2px solid var(--mainColorLight);
    border-radius: 0 50px 0 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div {
    margin: 10px;
    line-height: 1;

}

.card span {
    color: #5CE1E6
}

.DelBtn {
    padding: 3px 5px;
    background-color: var(--mainColor);
    color: var(--textColor);
    border-radius: 0 50px 0 50px;
    width: 50%;
}

.DelBtn:hover {
    color: white;
    background-color: tomato;
    font-weight: bold;
}